.appointment-form__title {
  font-family: Teko, sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.appointment-form__fields {
  width: 770px;
  height: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.appointment-form__submitBtn {
  border: none;
  padding: 15px;
  background-color: var(--accent-color);
  color: var(--white-color);
}

.appointment-form__submitBtn:disabled {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.appointment-form__submitBtn:hover {
  background-color: var(--white-color);
  color: var(--secondary-color);
}

.appointment-form__closeBtn {
  border: none;
  padding: 15px;
  background-color: var(--secondary-color);
  color: var(--white-color);
}

.appointment-form__closeBtn:hover {
  background-color: var(--white-color);
  color: var(--secondary-color);
}
