.header {
  height: 110px;
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
}

.header__logo {
  height: 60px;
}

.header__booking {
  display: flex;
  flex-direction: row;
  height: 50px;
}
